.logo {
    width: 270px;
    margin: -7% 1% 1% 1%;
}

.phone {
    width: 19px;
}

.div-bodyUp {
    padding: 0% 2% 2% 2%;
    background-image: linear-gradient(to top, #ecf7f7, white);
}

.div-novo {
    background-color: #e9e9f5;
    width: 15rem;
    padding: 0.5rem;
    border-radius: 15px;
}

.button-novo {
    background-color: #14bf14;
    border-radius: 10px;
    position: relative;
    color: white;
    margin: 1% 1% 1% 0%;
    padding: 2% 2% 2% 2%;
    ;
}

.image-right {
    width: 17px;
    margin: -2% 0% -1% 1%;
}

.div-h1 {
    margin: 1% 1% 0% 1%;
    padding: 1% 1% 0% 1%;
    font-size: 26px;
}

.div-p {
    margin: 1% 1% 0% 1%;
    padding: 1% 1% 0% 1%;
    font-size: 20px;
}

.rati {
    background-color: #eaedf8;
    display: inline-flex;
    text-align: center;
    font-size: 18px;
    color: #278cf4;
    border-radius: 5px;
    padding: 1%;
}

.divRight {
    margin: 1% 0% 1% 1%;
    padding: 1% 0% 1% 1%;
    float: right;
}

.img-person {
    width: 45rem;
    margin: -80% 1% 1% 5%;
}

* {
    font-family: sans-serif;
}