.divPart2 {
    display: block;
    margin: -9% 0% 1% 0%;
    padding: 2% 0% 1% 0%;
}

.steps123 {
    display: inline-grid;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    text-align: center;
}

.circle {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(255 255 255);
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    border: 15px solid #ccf4f4;
}

.divCircle {
    text-align: -webkit-center;
    padding: 7%;
}

.h1Circle {
    font-size: 50px;
}