.qPart3-poveke {
    display: inline-block;
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #36c7f6;
    border-radius: 5px;
    background-color: white;
}

.qPart3-poveke:hover {
    box-shadow: 10px 10px 10px 0px rgb(193 193 193);
    cursor: pointer;
}

.divPart3 {
    background-image: linear-gradient(to top, #ecf7f7, white);
    margin: 1% 5% 1% 5%;
    display: flex;
}

.divPart3-left {}

.divPart3-left-div {

    display: flex;
}

.divPart3-left-div-text {
    margin: 3% 1% 3% 3%;
    padding: 3% 1% 3% 3%;
    font-size: 20px;
}

.divPart3-left-div-pointer {
    width: 26px;
    padding-top: 1.3rem;
}

.divPart3-right {
    display: flex;
}

.imgDiplomaCA {
    float: right;
    display: flex;
    width: 35rem;
}