.pPart3{
    text-align: center;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    font-size: 25px;
}
.h1Part3{
    text-align: center;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    font-size: 47px;
    font-weight: bolder;
}
.qPart3Display{
    text-align: center;
    display: flex;
    margin: 1% 1% 1% 1%;
}
.qPart3{
    border: 1px solid rgb(110, 119, 128);
    margin: 1px;
    padding: 1% 1% 1% 1%;
    width: 25%;
    font-weight: 700;
}
.qPart3:hover{
    box-shadow: 10px 10px 10px 0px rgb(193 193 193);
    cursor: pointer;

}
.qPart3-poveke{
    display: inline-block;
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #36c7f6;
    border-radius: 5px;
    background-color: white;
}
.qPart3-poveke:hover{
    box-shadow: 10px 10px 10px 0px rgb(193 193 193);
    cursor: pointer; 
}
.divPart3{
    background-image: linear-gradient(to top, #ecf7f7, white);
    margin: 1% 5% 1% 5%;
}
.divPart3-left{
    width: 40%;
    margin: 1% 1% 0% 1%;
    padding: 1% 1% 0% 1%;
}
.divPart3-left-div{
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%; 
    display: inline-block; 
}
.divPart3-left-div-text{
    margin: 3% 1% 3% 3%;
    padding: 3% 1% 3% 3%; 
    font-size: 20px;  
}
.divPart3-left-div-pointer{
    width: 26px;
    margin: 3% 1% -19% -10%;
}
.divPart3-right{
    width: 60%;
    margin: 1% 1% 1% 0%;
    padding: 1% 1% 1% 0%;
    display: block;
}
.imgDiplomaCA{
    margin: -90% 1% 1% 1%;
    padding: 1% 0% 1% 50%;
    float: left;
}